.rosette-wrap, 
.rosette-wrap * {
	box-sizing:border-box;
}

.rosette-wrap {
	display:inline-block;
	position:relative;
}

.rosette-input-container {
	position:relative;
}

.rosette-input {
	padding-right:12% !important;
	width:100% !important;
}

.rosette-dropdown {
	display:none;
	position:absolute;
	width:100%;
}

.rosette-button {
	background:#336AB2;
	border-radius:2px;
	color:white;
	display:inline-block;
	height:80%;
	overflow:hidden;
	padding:2px;
	position:absolute;
	right:1%;
	text-align:center;
	top:50%;
	transform:translateY(-50%);
	user-select:none;
	width:10%;
}

.rosette-button-text {
	font-size:0.8em;
	position:relative;
	text-align:center;
    top:50%;
    transform:translateY(-50%);
}

.rosette-main .rosette-button {
	cursor:pointer;
}